* {
  box-sizing: border-box;
}

:root {
  --primary-color: #324bff;
  --secondary-color: #333333;
  --accent-color: #CCCCCC;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--secondary-color);
  background-color: #a1c4fd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font: normal 500 40px / 49px Montserrat;
  letter-spacing: 0px;
  margin: 0 0 13px;
}

p {
  font: normal normal normal 18px/24.665px Montserrat;
  letter-spacing: 0px;
  margin: 0 0 35px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  text-align: left;
  font: normal normal normal 18px/26px Montserrat;
  letter-spacing: 0px;
}

button {
  height: 49px;

  text-align: center;
  font: normal 500 16px/23px Montserrat;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: var(--primary-color);

  border: 1px solid var(--primary-color);
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  opacity: 0.8;
}
button:active {
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* GENERAL ========================= */
.btn-primary {
  background: var(--primary-color) 0% 0% no-repeat padding-box;
  color: #ffffff;
  border: none;
  width: 138px;
  margin-left: 15px;
}

/* CONTAINERS ========================= */
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.proof-container {
  max-width: 900px;
  min-height: 577px;

  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 12px #0000001f;
  border-radius: 20px;
  padding: 50px;
}

/* LIST ========================= */
.item-list {
  border: 1px solid var(--accent-color);
  background: #f7f7f7 0% 0% no-repeat padding-box;
  padding: 13px 11px;
  height: 227px;
  overflow-y: auto;
  margin-bottom: 30px;
  scrollbar-color: var(--accent-color) #f7f7f7;
  scrollbar-width: thin;
}
.item {
  padding: 7px 15px;
  overflow-x: auto;
  cursor: pointer;
}
.item:hover {
  background: #e4e4e4 0% 0% no-repeat padding-box;
  color: var(--secondary-color);
}
.selected {
  background: var(--primary-color) 0% 0% no-repeat padding-box;
  color: #ffffff;
}

/* FOOTER ACTIONS ==================== */
.actions {
  display: flex;
  justify-content: space-between;
}
.secondary-actions {
  display: flex;
  gap: 15px;
}
.undo {
  width: 81.03px;
  span {
    display: inline-block;
    transform-origin: center;
    rotate: 15deg;
    font-size: 36px;
    padding-bottom: 10px;
    transition: rotate 0.3s ease;
  }
}
.undo:active {
  span {
    rotate: -90deg;
  }
}
.delete {
  width: 124px;
}

/* MODAL ==================== */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: flex-start;
  display: flex;
}
.modal[hidden] {
  display: none;
}
.modal-content {
  margin: 50px;
  flex: 1 1 700px;
  max-width: 700px;
  min-height: 276px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 24px #0000001f;
  border-radius: 20px;
  padding: 50px;
  opacity: 1;
  label {
    display: block;
    text-align: left;
    font: normal normal normal 18px/26px Montserrat;
    letter-spacing: 0px;
    margin-bottom: 20px;
  }
  input {
    background: #f7f7f7 0% 0% no-repeat padding-box;
    color: var(--secondary-color);
    border: 1px solid var(--accent-color);
    width: 100%;
    height: 60px;
    padding: 19px 21px;
    margin-bottom: 25px;
  }
}
.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.modal-close {
  width: 128px;
}

